* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
    background-color: #212529;
    color: white;
    padding: 0;
    overflow-x: none;
}
span {
    margin-right: 1rem;
}
.container {
    position: relative;
    margin: 0 auto;
    font-size: 2rem;
    top: 5vh;
    width: 80%;
    text-align: center;
}
.container h1{
    font-size: 3rem;
    margin: 2rem;
}

#weather-area > p {
    margin: 1rem;
}
.units {
    color: orange;
    cursor: pointer;
}
#source {
    position: absolute;
    right: 0;
    top: 0;
    width:8vh;
    float: right;
    border-radius: 50%;
    animation-name: rotation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes rotation {
    0%{
        transform: rotate(45deg);
    }
    25%{
        transform: rotate(101deg)
    }
    50% {
        transform: rotate(202deg);
    }
    75%{
        transform: rotate(305deg);
    }
    100%{
        transform: rotate(405deg);
    }
}
@media(max-width:768px) {
    span {
        display: block;
        margin: 0 0 1rem 0;
        padding: 0;
    }
    span.units {
        display: inline;
    }
    .container h1 {
        margin-top: 0;
    }
}
